# Jenkins development server folders
target
work

# Binaries and downloaded resources
src/main/resources/matlab-script-generator.zip
src/main/resources/**/run-matlab-command*
src/main/resources/license.txt

.idea/

**/.DS_Store